.sidebar {
  float: left;
  background-color: lightgray;
  padding: 10px;
}

img.main {
  float: right;
  padding: 10px;
}

.bottom-text {
  border: 2px solid black;
  padding: 10px;
  background-color: lightblue;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.centered-image {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}
#specialtitle{
  font-weight:bold;
  text-decoration:underline;
}
